/*
/*/
!/script/
!/pics/
!/bigmen_homebrew.cdb
!/kdrctedo.cdb
!/A World Beyond.cdb
!/WorldBeyondAprilFools.cdb
!/cards clover.cdb
!/cards bt.cdb
!/char_showdown.cdb
!/card-ct-revival.cdb
!/lflists/
!strings.conf
!*.lflist.conf
!init.lua
.gitignore
script/.vscode/settings.json
